/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

 :root{
    /*- COLORI TESTO -*/
    --clr-text: #000;
    --clr-text-1: white;
    /*- COLORI BG -*/
    --clr-bg: #7D20D3;
    --clr-bg-hero: #ED007C;
    --clr-bg-img-gols: #F3E9FD;
    /*- COLORI BORDI -*/
    --clr-brd: #D2A8F8;

    /*- DIMENSIONI GUTTER*/
    --space-xxs: 0.25rem;
    --space-xs: 0.5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2.75rem;
    --space-xxl: 3rem;
    
}

.text-color1{
    color: var(--clr-bg)
}

/*╔═══════════════╗
       DEBUG
  ╚═══════════════╝*/
  .debug header{
      background-color: aqua;
  }

  .debug aside{
      background-color: black;
  }

  .debug .content{
      background-color: coral;
  }
  
  .debug footer{
      background-color: brown;
  }
  
/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/

body{
    /* font-family: */
    color: var(--clr-text);
}

section{
    padding: var(--space-xxl);
}

.my_container{
    max-width: 1000px;
    margin: auto;
}

/* --- BUTTON --- */

.my_btn{
    color: inherit;
    display: inline-block;
    font-weight: 400px;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    box-sizing: .25rem;
}

.btn-pink:hover{
    background-color: #fff;
    color: var(--clr-bg);
}

.btn-pink{
    background-color: var(--clr-bg-hero);
}



/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/


/* --- HEADER --- */

header{
    padding: var(--space-md)
}


.btn-ham-menu i{
    font-size: 2rem;
    
}

.logo{
    font-size: 2rem;
    line-height: 47.5px;
}

/* --- HERO --- */

.hero{
    background-color: var(--clr-bg);
    color: var(--clr-text-1);
}

.img-box{
    aspect-ratio: 1 ;
}

/* --- GOALS --- */

.goals, .contact{
    background-image: url(../img/-min.png);
    background-position: center;
    background-size: cover;
}

.goals .card{
    border-radius: 15px;
}
.card-title{
    color: var(--clr-bg);
}
.card-body{
    color: rgb(149, 146, 146);
}
.card .img{
    background-color: var(--clr-bg-img-gols);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .img i{
    font-size: 60px;
    color: var(--clr-bg)
}

/* --- PORFOLIO --- */


.card-box{
    aspect-ratio: 1;
    background-color: #000;
    margin-bottom: var(--space-md);
    overflow: hidden;
}

.card-box img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform .5s ease;
}


.wrapper{
    background-color: var(--clr-bg-hero);
    margin-right: var(--space-xxl);
    padding-top: var(--space-xxl);
    display: block;
    position: relative;
}

.inner-wrapper{
    position: relative;
    left: var(--space-xxl);
}

.text-box{
    position: relative;
    top: var(--space-xxl);
    color: var(--clr-text-1);
    background-color: var(--clr-bg);
    margin-bottom: var(--space-xxl);

}

.my_bg-white{
    top: calc( -1 * var(--space-xxl));
    position: absolute;
    height: 1400px;
    width: calc( 3 * var(--space-xxl));
    background-color: #fff;
    display: none;
}

.my_bg-white.rx{
    right: 0;
}

.card-box:hover img{
    transform: scale(1.5);
}




@media screen and ( min-width: 768px ){

    .portfolio{
        padding-bottom: calc(var(--space-xxl) *3);
    }
    

    .wrapper{
        margin-right: 0;
        padding-top: var(--space-xxl);
        padding-bottom: calc( 2 * var(--space-xxl));
    }

    .inner-wrapper{
        left: 0;
    }

    .my_bg-white{
        display: block;
        height: 900px;
    }
    
    .text-box{
        position: absolute;
        margin-right: var(--space-xxl);
        width: 60%;
        right: 0;
        bottom: 0;
        top: auto;
        transform: translateY(75%);
    }
}

@media screen and ( min-width: 992px ){

    .portfolio{
        padding-bottom: calc( 3 * var(--space-xxl));
    }


    .my_bg-white{
        display: block;
        height: 800px;
    }
 
}


@media screen and ( min-width: 1200px ){

    .wrapper{
        padding: calc( 2 * var(--space-xxl)) 0;
    }

    .my_bg-white{
        top: calc( -2 * var(--space-xxl));
        height: 1000px;
    }

    
    .text-box{
        margin-right: none;
        width: 45%;
        right: calc(-2 * var(--space-xxl));
        transform: translateY(60%);
        
    }
}


@media screen and ( min-width: 1400px ){



    .my_bg-white{
        height: 1100px;
    }

    

}



/* --- COSTUMERS ---*/

.customers{
    background-color: var(--clr-bg);
}

.customers .card{
    border-radius: 2rem;
}

.card .user{
    aspect-ratio: 1;
    height: auto;
    width: 75px;
    border: 5px solid var(--clr-brd);
    overflow: hidden;
}

/* --- DISCLAMER --- */

.disclamer .my_container{
    padding: 0 100px;
}

.disclamer .my_container .my_btn.btn-pink:hover, .contact .my_container .my_btn.btn-pink:hover{
    background-color: var(--clr-bg);
}

/*--- CONTACT ---*/

.post-card{
    background-color: #fff;
}

.post-card input{
    width: 100%;
    padding: 10px;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
}

.list ol li span{
    color: var(--clr-bg-hero);
}

.list div.text-end{
    font-size: 90px;
    color: var(--clr-bg-hero);
}


/* --- END MAIN --- */

.end-main{
    background-color: var(--clr-bg);
}